.shopping{
    color: #165dba;
}


.shopping-cart{
    font-size: 23px;
    font-weight: 500;
}
.div{
    margin-left: 92px;
    display: flex;
   
}
.summary{
    background: rgb(238, 236, 236);
    width: 40%;
    margin-left: 80px;

}
.cart-summary{
    font-size: 23px;
    font-weight: 500;
    margin-left: 20px;
}
.cart-grid{
    background: white;
    display: flex;
    margin-left: 80px;
}
.first-div{
    display: flex;

}


.R-img{
    margin-top: 20px;
    width: 8rem;
}
.r-hr{
    width: 45rem;
}
.R-name1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(85, 83, 83);
}
.R-name2{
    font-size: 12px;
}
.R-name3{
    font-size: 14px;
    font-weight: 500;
    color: #165dba;

}
.cart-info{
    margin-left: 20px;
}
.cart-price{
    margin-left: 150px;
}
.total{
    background: rgb(238, 236, 236);
    width: 60%;
    height: 20rem;
    padding-top: -100px;
}
.second-total{
    background: white;
    width: 80%;
}
/* .price-p1{
    font-size: 16px;
    font-weight: 500;
    color: rgb(85, 83, 83);
    margin-top: 20px;
    margin-left: 20px;
} */
.p-span1{
    font-size: 16px;
    font-weight: 500;
    color: rgb(85, 83, 83);
    margin-left: 210px;

}
.p-span2{
    font-size: 16px;
    font-weight: 500;
    color: rgb(85, 83, 83);
    margin-left: 210px;

}
.p-span3{
    font-size: 16px;
    font-weight: 500;
    color: rgb(85, 83, 83);
    margin-left: 190px;

}
.total-price{
    height: 40px;
    background: black;
   

    justify-content: center;

  
}
.price-T{
    padding-top: 10px;
    color: white;
}
.total-span{
    margin-left: 230px;
}
